*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}


.container{
  border: 1px solid #888888;
  box-shadow: 5px 5px 2px #888888;
}
.education-entry, .work-entry, .skills-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}


#no_indent {
    padding: 10px 0;
   }

#no_margin
  {
    margin:0px;
  }
.spacing {
  width:18%;
}

h1 {

  font-size: 30px;
  color:#585858;
  line-height: 48px;
  display: inline;
}

h2 {
  display: block;
  font-size: 16px;
  color: #060720;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-size: 10px;
  color:white;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #E6E6E6;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #585858;
  line-height: 16px;

}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #585858;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 16px;
}

a {
  color: rgb(3, 35, 56);
  text-decoration: none;
  margin: 5px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: rgba(135, 140, 146, 0.9);
  display: none;
}

#skills {
  display: none;
}

.blue {
  background-color: #060720;
}

.blue-text{
  color: #060720;
}

.dark-gray {
  background-color: #585858;
}

.gray-text {
  color: #585858;
}


.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.FFFFFF {
  background-color: #F3F3F3;
  padding-bottom: 5px;
  clear:both;
}




/* TODO: Replace with image later */
#header {
  border-bottom: 1px solid #060720;
  background: #060720;
}

#right {
  border-left:1px solid #585858;
}

hr {
 background-color: green;
}

.center-content {
  padding: 1%;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.center-text {
  text-align: center;

}
/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}
